html,
body
{
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Pour que le curseur n'interfère pas avec les événements de clic */
    opacity: 0;
  }

.info-objet { 
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    gap: 16px;
    top: 50%;
    right: 0%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.8) 100%);
    padding: 10px 20px;
    height: 100%;
    opacity: 0;
    z-index: 100;
}

.text-container {
    display: flex;
    max-width: 700px;
    margin-right: 100px;
    flex-direction: column;
    justify-content: center;
}

.info-objet p {
    padding:20px 0px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-top: 50px;
}

.info-objet h2 {
    font-size: 2.5rem;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    z-index: 999;
}
nav a img{
    height: 100%;
}

nav a {
    height: 100%;
}

nav a:hover {
    text-decoration: underline;
}

.billeterie {
    font-size: 1.5rem;
    height: fit-content;
    color: white;
    text-decoration: none;
}

.navigation2 {
    top: 80%;
}

.gallery {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    background-color: white;
    border-radius: 32px;
    transition: all 0.2s ease-out;
    opacity: 0;
}

.gallery:hover {
    transform: translateX(-50%) scale(1.1);
}

.info {
    margin-bottom: 10px;
    position: fixed;
    bottom: 10px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.info button {
    background-color: transparent;
    color: white;
    border: solid white 1px;
    border-radius: 100%;
    padding: 10px 17px;
    font-size: 1.125rem;
    transition: all 0.2s ease-out;
}

.info button:hover {
    background-color: white;
    color: black;
}

.info-pop-up {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-container {
    width: 500px;
}

.close-info-frame {
    width: fit-content;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border: transparent 3px solid;
    padding: 5px 0px;
    transition: border 0.3s ease-out;
    border-radius: 100%;
}
.close-info-frame:hover {
    text-decoration: underline;
}

.pop-up-container button:hover {
    border: solid 3px white;
    border-radius: 100%;
    padding: 5px 10px;
}

.pop-up-container p {
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    padding: 15px 0px;

}
#frame-info .arrow {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.point {
    position: relative;
    left: 11px;
    height: 10px;
    width: 10px !important;
    border-top: solid 3px white;
    border-left: solid 3px white;
    transform: rotate(-45deg);
}

#frame-info .line {
    height: 3px;
    width: 200px;
    background-color: white;
}

#frame-info .dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: white;
}

.button-text {
    position: relative;
    right: 150px;
    bottom: 15px;
    font-size: 1.5rem;
    width: fit-content;
}

.intro-pop-up {
    background-color: rgba(0,0,0);
    color: white;
    z-index: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.intro-pop-up p {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.symbole {
    font-size: 2rem;
}

.laboratory-start {
    background-color: white;
    border: transparent;
    color: black;
    padding: 10px 15px;
    border-radius: 32px;
    z-index: 999;
}

.laboratory-start:hover {
    background-color: black;
    color: white;
}